<div id="list-blogs">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<fieldset>
					<legend>Find Friends</legend>
					<div class="blog-list-font">
						<div>
							<div class="panel panel-default" ng-repeat="friend in ctrl.friends"
								style="margin-bottom: 2em;">
								<a>
									<div class="one">
										<label><span>Friend Id : </span>{{friend.friendId}}</label>
									</div>
									<div class="one" ng-show="friend.status=='A'">
										<label><span>Status : </span>Friend</label>
									</div> 
									<input type="button" ng-click=""
												class="btn btn-info floatright" value="Send Message"
												style="margin-top: 13px; width: 9em; margin-right: 8px;" />
								</a>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>
