<!-- all-blog-view -->
<div class="blogs">
	<div class="container">
		<div class="blog-all-grids">
			<div ng-show="currentUser.role=='ADMIN'">
				<div class="col-md-4 blogs-grid" ng-repeat="blog in ctrl.blogs"
					ng-hide="blog.status=='R'">
					<div class="blog-all">
						<div class="blog-all-sub frame">
							<h3>{{blog.title}}</h3>
							<p>Written By : {{blog.userId}}</p>
							<div class="more">
								<input type="button" class="btn btn-info btn-more"
									ng-click="ctrl.rejectBlog(blog, blog.id)"
									ng-show="blog.status=='N'" value="Reject"
									style="background: linear-gradient(to bottom right, #6f6f6f, #ef6b5e);"> 
								<input	type="button" class="btn btn-info btn-more"
									ng-click="ctrl.getSelectedBlog(blog.id)" value="Know More..">
								<input type="button" class="btn btn-info btn-more"
									ng-click="ctrl.approveBlog(blog, blog.id)"
									ng-show="blog.status=='N'" value="Approve"
									style="background: linear-gradient(to bottom right, #6f6f6f, #60d059);">
							</div>
						</div>
						<div class="p-mask">
							<h4>
								<a><span><i class="fa fa-rss" aria-hidden="true"></i></span>{{blog.title}}</a>
							</h4>
							<ul style="text-align: center;">
								<li><a><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{blog.countLike}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div ng-hide="currentUser.role=='ADMIN'">
				<div class="col-md-4 blogs-grid" ng-repeat="blog in ctrl.blogs"
					ng-show="blog.status=='A'">
					<div class="blog-all">
						<div class="blog-all-sub frame">
							<h3>{{blog.title}}</h3>
							<p>Written By : {{blog.userId}}</p>
							<div class="more">
								<input type="button" class="btn btn-info btn-more"
									ng-click="ctrl.getSelectedBlog(blog.id)" value="Know More..">
							</div>
						</div>
						<div class="p-mask">
							<h4>
								<a><span></span>{{blog.title}}</a>
							</h4>
							<ul style="text-align: center;">
								<li><a><i class="fa fa-thumbs-up" aria-hidden="true"></i>&nbsp;{{blog.countLike}}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
