<div id="list-blogs">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<fieldset>
					<legend>Find Jobs</legend>
					<div class="blog-list-font">
						<div>
							<div class="panel panel-default" ng-repeat="job in ctrl.jobs"
								style="margin-bottom: 2em;">
								<a>
									<div class="one">
										<label><span style="color: black;">Job ID : </span>{{job.id}}</label>
									</div> 	
									<div class="one">
										<label><span style="color: black;">Company Name : </span>{{job.companyName}}</label>
									</div>
									<div class="one">
										<label><span style="color: black;">Job Location : </span>{{job.location}}</label>
									</div> 	
									<input type="button" ng-click="ctrl.applyForJob(jobId)"
												class="btn btn-info floatright" value="Apply Now"
												style="margin-top: 13px; width: 10em; margin-right: 8px;" />	
								</a>
							</div>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</div>